# Файли налаштувань середовища
.env
frontend/.env

# Залежності Node.js
node_modules/

# Згенеровані файли збірки
dist/
build/
.next/

# Статичні файли клієнта
client/static/js/
client/static/css/

# Маніфести
client/asset-manifest.json
client/manifest.json
frontend/public/manifest.json

# Логотипи та фавіконки (якщо стандартні)
client/favicon.ico
frontend/public/favicon.ico
client/logo192.png
frontend/public/logo192.png
client/logo512.png
frontend/public/logo512.png

# Автозгенеровані файли
client/robots.txt
frontend/public/robots.txt

# Файли журналів та тимчасові файли
*.log
npm-debug.log*

# Файли налаштувань IDE
*.iml
.idea/
.vscode/

# Файли кешу
*.cache

mongo_db/